# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local
.env*.local

# excels reales de origen (contienen datos sensibles de tesorería)
archivosCopiaDeConsolidados/

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
